.ct-adc-img-uploader {
  .webuploader-container {
    div:nth-child(2) {
      //固定尺寸后不用调用refresh刷新
      width: 1px!important;
      height:1px!important;
    }
  }
  .webuploader-pick {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .webuploader-element-invisible {
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  .ct-adc-img-uploader-list.file-list {
    list-style: none;
    margin: -8px;
    padding: 0;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      overflow: hidden;
      clear: both;
    }
    li {
      border: 1px solid #d4d4d4;
      border-radius: 6px;
      text-align: center;
      margin: 8px;
      position: relative;
      display: inline;
      float: left;
      overflow: hidden;
      font-size: 12px;
      img {
        width: 100%;
        height: 100%;
      }
      .thumbInfo {
        position: absolute;
        bottom: -2px;
        right: -14px;
        width: 46px;
        height: 20px;
        line-height: 20px;
        transform: rotate(-45deg);
      }
      .success {
        background-color: #13ce66;
        box-shadow: 0 0 5px #116235;
      }
      .pending {
        background-color: #ff5722;
        box-shadow: 0 0 5px #c13509;
      }
      .error {
        background-color: #ec1515;
        box-shadow: 0 0 5px #bf0303;
      }
      .thumbInfo span {
        transform: rotate(45deg);
        color: #fff;
      }
      &.addThumb {
        position: relative;
        border: 1px dashed #d4d4d4;
        cursor: pointer;
        span {
          font-size: 30px;
          color: #e3e3e3;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        &:hover span {
          color: #aaaaaa;
        }
      }
      &:hover .file-panel {
        display: block;
      }
    }
    div.file-panel {
      //display: none;
      position: absolute;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      z-index: 300;
      text-align: center;
      div {
        width:100%;
        height: 30px;
        line-height:30px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        span {
          font-size: 20px;
          color: #fff;
          vertical-align:middle;
          &:hover{
            color: #aaaaaa;
          }
        }
      }
    }
  }
  .disabled-wrap{
    label,input{
      position: absolute;
      z-index: -9999;
      top: -9999px;
    }
    .glyphicon-plus{
      color: #f0f0f0!important;
    }
    div{
      cursor: not-allowed;
    }
    .addThumb{
      border-color: #f0f0f0!important;
    }
  }
  .preview-wrap{
    position:relative;
    min-height:500px;
    img{
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}
